.invest {
  width: 90%;
  margin-inline: 5%;

  .mat-card {
    background-color: #12123d;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0 #000000;

    * {
      color: white;
      font-size: large;
    }
  }

  &__filter {
    margin-block: 3%;
    padding-inline: 20%;
  }

  .filter__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #8775ff;
    border-radius: 12px;
  }

  .invest[_ngcontent-ng-c3762595575]
    .mat-card[_ngcontent-ng-c3762595575]
    *[_ngcontent-ng-c3762595575] {
    color: #111139;
  }

  .mat-mdc-select-value-text {
    color: #111139;
  }
}
